/chat_histories
/files
# .env
/old-frontend/node_modules
/old-frontend/.pnp
/old-frontend/.pnp.js
/old-frontend/.yarn/install-state.gz
/old-frontend/package-lock.json
/old-frontend/yarn.lock
/old-frontend/coverage
/old-frontend/.next/
/old-frontend/out/
/old-frontend/build
/old-frontend/.DS_Store
/old-frontend/*.pem
/old-frontend/npm-debug.log*
/old-frontend/yarn-debug.log*
/old-frontend/yarn-error.log*
/old-frontend/*.local
/old-frontend/.vercel
/old-frontend/*.tsbuildinfo
/old-frontend/next-env.d.ts

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/*.local
/frontend/.vercel
/frontend/*.tsbuildinfo

/backend/include/
/backend/lib
/backend/lib64
/backend/Include
/backend/Lib
/backend/Scripts
/backend/pyvenv.cfg
/backend/upload_files/
/backend/.logs
/backend/chats/
/backend/chat_histories
/backend/.chat_histories
/backend/files
/backend/.files
__pycache__

.idea/
/backend/bin
# dotenv
logs/

.venv
venv/
ENV/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.bat